#root {
  -fx-background-color: linear-gradient(
    to bottom right,
    #12043b,
    #3b0a45,
    #000010
  );
}

/* Label chính Game Over */
#labelGameOver {
  -fx-text-fill: #00ffff;
  -fx-font-size: 60px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.8), 15, 0.4, 0, 0);
}

/* Label điểm số */
#score,
#highestScore {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 10, 0.3, 0, 0);
}

/* Nút chung */

#newGame {
  -fx-background-color: transparent;
  -fx-background-image: url("../../../images/newgame_icon.png");
  -fx-background-size: 40px 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-border-color: #00ffff;
  -fx-border-radius: 10;
  -fx-border-width: 2;
  -fx-background-radius: 10;
  -fx-cursor: hand;
}
#newGame:hover {
  /* Hiệu ứng phát sáng mạnh hơn khi hover */
  -fx-background-color: #0055aa;
  -fx-border-color: #66ffff;
}
/* Nút Home */
#backHome {
  -fx-background-color: transparent;
  -fx-background-image: url("../../../images/back.png");
  -fx-background-size: 40px 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-pref-width: 40px;
  -fx-pref-height: 40px;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.8), 10, 0.3, 0, 0);
}

#backHome:hover {
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 1), 15, 0.5, 0, 0);
}

/* Nút New Game */
#newGame {
  -fx-background-radius: 10;
  -fx-background-color: linear-gradient(to bottom, #1b2735, #090a0f);
  -fx-border-color: #00ffff;
  -fx-border-radius: 10;
  -fx-border-width: 2;
  -fx-text-fill: #00eaff;
  -fx-font-weight: bold;
  -fx-padding: 6 20 6 20;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.5), 8, 0.2, 0, 0);
}

#newGame:hover {
  -fx-background-color: linear-gradient(to bottom, #00eaff, #0066ff);
  -fx-text-fill: white;
  -fx-border-color: white;
  -fx-effect: dropshadow(gaussian, rgba(0, 200, 255, 0.9), 15, 0.4, 0, 0);
}
