#root {
    -fx-background-image: url("images/background.png");
        -fx-background-size: cover;
         -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

#startGame {
    -fx-pref-width: 180px;
    -fx-pref-height: 70px;

    -fx-background-image: url("images/startGame.png");
        -fx-background-size: 180px 70px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;

    -fx-background-color: transparent;
    -fx-background-radius: 15;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);

    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#shopButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-background-image: url("images/shop.png");
    -fx-background-size: 51px 51px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-radius: 5;

   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 0, 1);

       -fx-text-fill: white;
       -fx-font-size: 14px;
       -fx-font-weight: bold;
}

#shopButton:hover {
    -fx-background-color: #0055AA;
    -fx-border-color: #66FFFF;
}

#quitButton {
    -fx-pref-width: 180.0px;
    -fx-pref-height: 70.0px;

    -fx-background-image: url("images/exit.png");
        -fx-background-size: 180px 70px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-color: transparent;
    -fx-background-radius: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);

    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#quit:hover {
    -fx-background-color:
        linear-gradient(to bottom, #FF4500, #B22222); /* OrangeRed -> FireBrick */
    -fx-cursor: hand;
}

#quit:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none;
}

#profileButton, #settingButton, #leaderBoardButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-background-image: url("images/player.png");
    -fx-background-size: 51px 51px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
-fx-background-color: transparent;
    -fx-background-radius: 5;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 0, 1);

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#settingButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-background-image: url("images/setting.png");
    -fx-background-size: 51px 51px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

    -fx-background-radius: 5;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 0, 1);

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
 #leaderBoardButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-background-image: url("images/leaderBoard.png");
    -fx-background-size: 51px 51px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color: transparent;

    -fx-background-radius: 5;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 3, 0.0, 0, 1);

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#profile:hover, #setting:hover, #leaderBoard:hover {
    -fx-background-color:
        linear-gradient(to bottom, #4682B4, #6495ED);
    -fx-cursor: hand;
}

#profile:pressed, #setting:pressed, #leaderBoard:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none;
}
