#shopRoot {
    -fx-background-color: linear-gradient(to bottom right, #202020, #000033);
}

#backButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url("/images/back.png");
    -fx-background-size: 50px 50px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-text-fill: transparent;
}

#backButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.4), 10, 0.0, 0, 0);
    -fx-cursor: hand;
}
#backButton:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none;
}

#depositButton {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;

    -fx-background-color:
        linear-gradient(to bottom, #1E90FF, #0055AA);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#depositButton:hover {
    -fx-background-color: linear-gradient(to bottom, #FFEFD5, #FFD700);
    -fx-cursor: hand;
}
#depositButton:pressed {
    -fx-translate-y: 1px;
    -fx-effect: none;
}

#ballButton, #paddleButton {
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;

    -fx-background-color: rgba(30, 144, 255, 0.2);
    -fx-background-radius: 10;

    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
    -fx-border-radius: 10;

    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-content-display: top;
    -fx-padding: 10 0 0 0;
}

#ballButton:hover, #paddleButton:hover {
    -fx-background-color: rgba(30, 144, 255, 0.3);
    -fx-border-color: #66FFFF;
    -fx-cursor: hand;
}

#ballButton:pressed, #paddleButton:pressed {
    -fx-effect: dropshadow(gaussian, rgba(30, 144, 255, 0.8), 20, 0.0, 0, 0);
}

#lblMoney {
    -fx-text-fill: #FFFFFF;

    -fx-font-size: 24px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.0, 0, 0);

}
